@model Proyectoflores.Models.ViewModelsFinca.FincaViewModel
@{
    ViewBag.Title = "Editar Finca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@ViewBag.Title</h2>

@*EditarFinca nombre metodo *@
@*Finca nombre del controlador *@
@using (Html.BeginForm("EditarFinca", "Finca", FormMethod.Post))
{
    @Html.HiddenFor(d => d.Idfinca)
    <div class="container">
        <div class="form-group">

            <div class="col-md-12">
                <div class="col-md-6">
                    <b>@Html.DisplayNameFor(d => d.Nombrefinca)</b> 
                    @Html.TextBoxFor(d => d.Nombrefinca, "", new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    <b>@Html.DisplayNameFor(d => d.Ubicacion)</b> 
                    @Html.TextBoxFor(d => d.Ubicacion, "", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div style="text-align:right">
        <input value="Guardar" class="btn btn-primary" type="submit" />
    </div>
}

