@model Proyectoflores.Models.ViewModelsFinca.FincaViewModel
@{
    ViewBag.Title = "Crear nueva finca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/Scripts.js"></script>
<h2>@ViewBag.Title</h2>

@*NuevaFinca nombre metodo *@
@*Finca nombre del controlador *@
@using (Html.BeginForm("NuevaFinca", "Finca", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">

            <div class="col-md-12 text-center">
                <b> <label> Datos de la finca</label> </b>
            </div>

            <div class="col-md-12 text-center">
                <div class="col-md-6 text-center">
                    @Html.DisplayNameFor(d => d.Nombrefinca)
                    @Html.TextBoxFor(d => d.Nombrefinca, "", new { @class = "form-control" })
                </div>
                <div class="col-md-6 text-center">
                    @Html.DisplayNameFor(d => d.Ubicacion)
                    @Html.TextBoxFor(d => d.Ubicacion, "", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div style="text-align:right">
        <input value="Guardar" class="btn btn-primary" type="submit" />
    </div>
}