@model Proyectoflores.Models.ViewModelsFinca.FincaViewModel
@{
    ViewBag.Title = "Crear nueva finca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@ViewBag.Title</h2>

@*NuevaFinca nombre metodo *@
@*Finca nombre del controlador *@
@using (Html.BeginForm("NuevaFinca", "Finca", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">

            <div class="col-md-12">
                <div class="col-md-4">
                    @Html.LabelFor(d => d.Nombrefinca)
                    @Html.TextBoxFor(d => d.Nombrefinca, new { onkeydown = "return checkespacio(event);", onkeyup = "this.value = this.value.toUpperCase();", @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Nombrefinca)

                </div>
                @if (ViewBag.DeparmanetosList != null)
                {
                    <div class="col-md-4">
                        @Html.LabelFor(d => d.Iddepartamento_)
                        @Html.DropDownListFor(m => m.Iddepartamento_, ViewBag.DeparmanetosList as SelectList, "Departamento", new { @class = "form-control" })
                    </div>
                }
                <div class="col-md-4">
                    @Html.LabelFor(d => d.Idmunicipio)
                    @Html.DropDownListFor(m => m.Idmunicipio, new SelectList(""), "Municipio", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
    </div>

    <div style="text-align:right">
        <input value="Guardar" class="btn btn-primary" type="submit" />
    </div>
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    
    $(document).ready(function () {
        $("#Iddepartamento_").change(function () {
            var departamentoid = $(this).val();
            debugger
            $.ajax({
                type: "post",
                url: "/Finca/GetMunicipioList?Iddepartamento_=" + departamentoid,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#Idmunicipio").empty();
                    $("#Idmunicipio").append(response);
                }
            })
        })
    })

</script>