@model Proyectoflores.Models.invernadero
@{
    ViewBag.Title = "Editar Invernadero Registrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@*EditarInvernadero nombre metodo *@
@*Invernadero nombre del controlador *@
@using (Html.BeginForm("EditarInvernadero", "Invernadero", FormMethod.Post))
{
    @Html.HiddenFor(d => d.idinvernadero)
    @Html.HiddenFor(d => d.idfinca)

    <div class="col-md-12">
        <div class="col-md-6">
            <b>@Html.DisplayNameFor(d => d.numeroinvernadero)</b> 
            @Html.TextBoxFor(d => d.numeroinvernadero, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.numeroinvernadero, null, new { @class = "red" })
        </div>
        <div class="col-md-6">
            <b>@Html.DisplayNameFor(d => d.idfinca)</b> 
            @Html.DropDownListFor(d => d.idfinca, new SelectList(Model.FincaCollection, "Idfinca", "Nombrefinca"), "Seleccione una finca", new { @class = "form-control" })
        </div>
    </div>

    <div style="text-align:right">
        <input value="Guardar" class="btn btn-primary" type="submit" />
    </div>
}