@model Proyectoflores.Models.usuario
@{
    ViewBag.Title = "Editar un Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@*NuevoUsuario nombre metodo *@
@*Invernadero nombre del controlador *@
@using (Html.BeginForm("EditarUsuario", "Usuario", FormMethod.Post))
{

    @Html.HiddenFor(d => d.cedula)
    @Html.HiddenFor(d => d.idfinca)

    <div class="col-md-12">
        <div class="col-md-6">
            <b>@Html.LabelFor(d => d.cedula)</b>
            @Html.TextBoxFor(d => d.cedula, new { onkeydown = "return ValidateNumber(event);", @class = "form-control" })
            @Html.ValidationMessageFor(d => d.cedula, null, new { @class = "red" })
        </div>
        <div class="col-md-6">
            <b>@Html.LabelFor(d => d.password)</b>
            @Html.TextBoxFor(d => d.password, new { onkeydown = "return ValidateNumber(event);", @class = "form-control" })
            @Html.ValidationMessageFor(d => d.password, null, new { @class = "red" })
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6">
            <b>@Html.LabelFor(d => d.nombres)</b>
            @Html.TextBoxFor(d => d.nombres, new { onkeydown = "return ValidateNumber(event);", @class = "form-control" })
            @Html.ValidationMessageFor(d => d.nombres, null, new { @class = "red" })
        </div>
        <div class="col-md-6">
            <b>@Html.LabelFor(d => d.apellidos)</b>
            @Html.TextBoxFor(d => d.apellidos, new { onkeydown = "return ValidateNumber(event);", @class = "form-control" })
            @Html.ValidationMessageFor(d => d.apellidos, null, new { @class = "red" })
        </div>
    </div>

    <div class="col-md-12">
        @*
        <div class="col-md-6">
            <b>@Html.LabelFor(d => d.idrol)</b>
            @Html.DropDownListFor(d => d.idrol, new SelectList(Model.rolCollection, "Idrol", "nombre"), "Seleccione rol", new { @class = "form-control" })
        </div>
        *@
        <div class="col-md-6">
            <b>@Html.LabelFor(d => d.idfinca)</b>
            @Html.DropDownListFor(d => d.idfinca, new SelectList(Model.fincaCollection, "Idfinca", "Nombrefinca"), "Seleccione finca", new { @class = "form-control" })
        </div>
    </div>

    <div style="text-align:right">
        <input value="Guardar" class="btn btn-primary" type="submit" />
    </div>
}
